LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/* ICONs */

// MAINICON *must* remain first (alphabetically) for it to be used
// as the compiled EXE's icon
MAINICON                ICON                    "PlasmaShop.ico"
XDOC_AGE                ICON                    "age.ico"
XDOC_CFG                ICON                    "ini.ico"
XDOC_P2F                ICON                    "font.ico"
XDOC_SDL                ICON                    "sdl.ico"
XDOC_SUM                ICON                    "sum.ico"
XDOC_PAK                ICON                    "pak.ico"


/* VERSIONINFO */
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3,0,0,9
 PRODUCTVERSION 3,0,0,9
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Michael Hansen"
            VALUE "FileVersion", "3.0.0.9"
            VALUE "InternalName", "PlasmaShop"
            VALUE "LegalCopyright", "Copyright (C) 2008 Michael Hansen"
            VALUE "OriginalFilename", "PlasmaShop.exe"
            VALUE "ProductName", "PlasmaShop"
            VALUE "ProductVersion", "3.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
